[2015-08-04 21:55] miguelcleon opened #1 "find another way to create the template my_index.html"
my_index.html has been hardcoded for ordering models and for sectioning off models into different groups. This should be done more dynamically.
something like https://github.com/mishbahr/django-modeladmin-reorder
This wasn't used because you couldn't create groups of models in anyway.

[2015-09-01 15:08] miguelcleon opened #2 "GeoDjango"
Consider adding GeoDjango API for PostGIS data.

[2015-09-08 21:20] miguelcleon opened #3 "more error handling for process_datalogger_file"
the function process_datalogger_file in models.py needs more error handling.

[2015-09-09 17:02] miguelcleon opened #4 "Add a duplicate_dataloggerfile_event in forms.py"
To make it easier to add multiple copies of data logger files with the same format add a copy event like duplicate_Dataloggerfilecolumns_event. However in this case we want to copy the  Dataloggerfilecolumns and the dataloggerfile

[2015-09-09 22:50] #4 closed

[2015-09-11 15:22] miguelcleon opened #5 "consider using django-graphos instead of chartit"
chartit was quite complicated to configure

This reddit post suggests graphos is better
https://www.reddit.com/r/django/comments/2kzrom/thoughts_on_djangochartit/

graphos
django-graphos http://agiliq.com/demo/graphos/tutorial/

[2015-09-16 14:15] miguelcleon commented on #1
should probably just have hard coded links like AddSensor.html.

[2015-09-25 19:32] miguelcleon commented on #5
Ended up using highcharts api directly in templates instead of graphos or chartit.

[2015-09-25 19:32] #5 closed

[2016-01-25 16:51] miguelcleon opened #6 "separate out settings that change for dev and production from settings for all environments"
separate out settings that change for dev and production from settings for all environments
Should be similar to:
https://gondor.io/support/django/settings/

This will make it easier to manage settings across different environments.

[2016-01-25 18:09] miguelcleon opened #7 "change folder names"
change file folder names from:
ODM2testapp to ODM2CZOData
and
ODM2testsite to templatesAndSettings

[2016-01-25 18:59] #7 closed

[2016-01-27 21:22] #6 closed

[2016-02-03 15:32] miguelcleon opened #8 "improve database access speed, transition from str to unicode functions"
improve database access speed:

1) All models should use a unicode function instead of an str function. This will improve the speed of database requests.

[2016-02-03 16:17] #8 closed

[2016-02-09 16:56] miguelcleon opened #9 "Improve performance of resultid dropdowns; replace with ajax selects"
Improve performance of resultid dropdowns; replace with ajax selects. Some of the forms have become unusable, this should really improve the performance of these pages.

[2016-02-10 16:42] #9 closed

[2016-02-12 15:27] miguelcleon opened #10 "add citations to graphed data exports"
If data are cited include the citation in the export when graphing.

[2016-03-16 20:24] miguelcleon commented on #1
The links are now hard coded. app_index.html and my_index.html templates are now consolidated.

[2016-03-16 20:24] #1 closed

[2016-04-28 17:20] ocefpaf opened #11 "Packaging"
@miguelcleon I am unfamiliar with packages that use Djando so I don't really know where to start. Usually the boilerplate is to create a `setup.py` that installs the module, but I believe there are more pieces here that needs to be taken care of. Is that assessment correct?

xref: https://github.com/ODM2/conda-recipes-ODM2/issues/27

[2016-04-28 21:51] miguelcleon commented on #11
Ah, this email went into my junk folder. I'll have to look at this a little later

[2016-04-28 23:26] miguelcleon commented on #11
I would think that the setup.py file should be able to handle installation of all of the django packages but yes a user is also going to have to setup the settings.py file which specifies a postgresql server and some system path information. https://github.com/miguelcleon/odm2djangoadmin/blob/master/templatesAndSettings/settings.py

[2016-05-10 14:49] miguelcleon commented on #11
Hi, Filipe, I'm back, how do you want to proceed?

[2016-05-13 18:47] ocefpaf commented on #11
@miguelcleon I am out until 22nd, but I will put a PR together and we can discuss it once I get back.

[2016-05-24 16:27] emiliom commented on #11
Hi guys. I was dropping by to see how the conda packaging work is going. I see @ocefpaf was out until Sunday. Let me know if I can help (though I doubt it ...). Thanks!

[2016-05-24 18:06] ocefpaf commented on #11
@miguelcleon and @emiliom the ball is with me now and I need to get a skeleton PR with the boilerpla first before you can help. I will address this as soon as I get in the US. (I am in transit now with flaky/unreliable connections internet.)

[2016-06-10 16:00] emiliom commented on #11
@ocefpaf, I know you're still traveling until the 15th. (We saw each other in DC a week ago, though we didn't have a chance to talk about ODM2, much less odm2djangoadmin.)

Still, I was wondering if you've had a chance to make some progress on packaging this and preparing the PR ... Thanks!

[2016-06-10 16:01] ocefpaf commented on #11
Travelling and working :cold_sweat:
I will have something later today... Hold on...

[2016-06-10 16:02] miguelcleon commented on #11
I was traveling myself this week and last, I'm back and around now, after the 15th will work also.

[2016-06-10 16:56] emiliom commented on #11
@ocefpaf, it is Friday! Don't feel obligated to make progress today -- though it sounds like you're already doing that! Anyway, it can wait till early next week. @miguelcleon, thanks for chiming in.

[2016-07-01 16:25] emiliom commented on #11
@ocefpaf, any recent progress on the packaging? I've kept track of exchanges in your PR (#12), but haven't seen any recent activity.

Thanks!

[2016-07-01 16:35] ocefpaf commented on #11
Sorry. No progress. I will make some changes to this PR today to properly package the "data" folder. After that I will need a call @miguelcleon to ask a few questions. How is you next week @miguelcleon? I cannot Monday, but I am free pretty much the rest of the week.

[2016-07-01 17:39] miguelcleon commented on #11
I'll be on vacation next week returning July 12th. I can do something today.

[2016-07-01 17:39] ocefpaf commented on #11
That works. Ping me once you are back. (Sorry again for the long delay here.)

[2016-07-14 14:36] miguelcleon commented on #11
Hi Felipe, I just setup this project again on a new Ubuntu cloud server so it would be a good time for me to work through this with you since I just did it myself. Let me know if you have sometime today or tomorrow.

[2016-07-15 02:52] ocefpaf commented on #11
@miguelcleon I am in Austin for SciPy and I can try either 9:15-12:00 or 14:00-16:30 (Central).

Let me know if that works for you. I will be sprinting on conda-forge here next Saturday and I want to address `odm2djangoadmin`.

[2016-07-15 13:38] miguelcleon commented on #11
Ok, either of those times will work just give me a call 2157465974

[2016-07-15 19:58] emiliom commented on #11
I'm glad you're connecting, and hope that went well. @ocefpaf, enjoy SciPy!

[2016-07-15 20:10] miguelcleon commented on #11
@ocefpaf how did it work out? Sounds like you had some ideas about how to move forward. Enjoy SciPy, that sounds cool.

[2016-07-22 17:34] emiliom opened #15 "Comments & questions on Luquillo CZO database used by ODM2-Admin"
@miguelcleon, I'm dumping a long list of my comments and questions in this single issue. I had already typed this in a local markdown document, so it's easiest for me to just dump it all in one place. We can split it off later. I'm pinging @lsetiawan (Don), so he's in the discussion.

When trying to restore the database backup file (using PgAdmin) on my laptop (Ubuntu 14.04, Postgresql 9.3, PostGI

[2016-07-22 17:49] lsetiawan commented on #15
@emiliom  One thing I noticed about the `topology` and `tiger` extensions is that they are part of the blank [ODM2 PostgreSQL](https://github.com/ODM2/ODM2/blob/master/src/blank_schema_scripts/postgresql/ODM2_for_PostgreSQL.sql)

[2016-07-22 17:56] emiliom commented on #15
That's an important observation, @lsetiawan. I need to look into that and work on eliminating it there.

[2016-07-22 18:00] miguelcleon commented on #15
yup, I have my time series data in the measurement results and measurement results values tables instead of the time series results and times series result values tables. That is a problem I'll need to address and is systematic issue with ODM2 Admin.

[2016-07-22 18:09] miguelcleon commented on #15
sampling features 767,768, 769, 648,649,650 are 'part of' 656. They are all separate soil pits dug at a single larger site named TABOX-12.

[2016-07-22 18:17] miguelcleon commented on #15
I've fixed the two records with the swapped lat-long, thank you.

[2016-07-22 18:29] emiliom commented on #15
Thanks for that clarification. After exploring that particular relationship, I have one observation: `relatedfeatures` has many duplicated records. For example, the "Is part of" relationship between sampling features 767 and `relatedfeatureid` 656 occurs 6 times. The records are identical, except of course for the sequential, unique primary key, `relationid`. I'm guessing that's a messiness that w

[2016-07-22 18:36] emiliom commented on #15
This isn't a comment or question. I'm putting here this summary of `samplingfeaturetypecv` usage in the `samplingfeatures` table for future reference.

samplingfeaturetypecv | count
:-------------------- | -----:
Excavation | 324
Field area | 13
Landscape classification | 8
Observation well | 3
Site | 119
Stream gage | 2
Transect | 5

The table was generated using this query:
[code]

[2016-07-22 19:10] emiliom commented on #15
Another comment about this:

All those sampling features are classified as "Excavation". But TABOX-12 (656) is in fact something conceptually different. It's not an Excavation per se, but rather a "Site" or "Field area" where all those individual excavations (soil pits) are found. At least that's what I'm assuming.

[2016-07-22 20:07] miguelcleon commented on #15
Yeah, I haven't stayed consistent with classifying the sampling features and I'll need to double check them. Thanks for all your great feedback Emilio, this is really helpful! I'll plan to update you with a new db dump in probably about 2 weeks time does that sound good?

[2016-07-22 20:12] emiliom commented on #15
I'm very glad it's helpful to you.

That time frame sounds good. We still have tons to learn, both about your ODM2 implementation and ODM2-Admin per se.

[2016-07-22 20:19] miguelcleon commented on #15
I thought I'd address one more of the issues you brought up for now. the table odm2.Measurementresultvaluefile can be dropped I had initially added these extra tables in odm2 schema and knowing that wasn't the best way to do things, I since moved them into odm2extra schema. I'm only using the odm2extra.Measurementresultvaluefile table now.

This should also probably be done for the django generate

[2016-07-22 20:46] miguelcleon commented on #15
I changed sampling features 654 to 677 to sampling feature type to 'sites'

[2016-07-22 21:03] emiliom commented on #15
Thanks for the info on `odm2.Measurementresultvaluefile` vs `odm2extra`. I'm glad it was just a leftover table, no longer used.

Good to know about the django tables, too. If you'd like, maybe in a couple of weeks (when it's a good time for you) we can bring in Jeff Horsburgh and his team to see if they can help with Django insight. They're using Django heavily in web applications for ODM2, and th

[2016-07-22 23:30] lsetiawan commented on #15
@miguelcleon One question about the tables in `odm2extra` schema. Are they created by django after defining them in models? I tried doing `syncdb` with django=1.6.5 and the tables get created, but then using `migrate` with django=1.9.x doesn't create those tables, have you run into those issues? or did you create the tables separately with SQL statements? Thanks.

[2016-07-22 23:40] miguelcleon commented on #15
Yeah that is the iffy support for multiple schemas right there. I just used some extra side SQL to create the tables for django 1.9

[2016-07-25 21:27] emiliom opened #16 "Data entry via ODM2-Admin, or to populate ODM2 DB used by ODM2-Admin"
@miguelcleon, I forget what mechanism you have developed to load data (and metadata) into the ODM2 database behind ODM2-Admin. I know you preserve sensor log files, so I assume you have a log-file loader for a set of pre-defined sensors. Besides that, does ODM2-Admin have the ability to do manual, form-drive data entry? If so, is it being used heavily? Or do you use your own Excel (or csv) templat

[2016-07-26 02:16] miguelcleon commented on #16
Data can be loaded via command line using: https://github.com/miguelcleon/ODM2-Admin/blob/master/ODM2CZOData/management/commands/ProcessDataLoggerFile.py

our via the web interface using processdata logger file:
https://github.com/miguelcleon/ODM2-Admin/blob/master/ODM2CZOData/models.py#L929

[2016-07-26 03:38] emiliom commented on #16
Are these logger files vendor specific, the output of specific instruments or vendor data logging software? Or are they essentially intermediate files you have defined to follow a set of conventions that makes them ready to load with your tools? From my quick inspection of the code you linked to, the latter seems to be the case. Thanks.

[2016-07-26 13:07] miguelcleon commented on #16
some of the files are directly downloaded from campbell scientific data loggers and processed, other files are intermediate files with modest modifications for ingestion.

[2016-07-26 17:36] emiliom commented on #16
How do you enter metadata like sampling feature details, related features,
method descriptions, people and organizations, etc? Through the log files,
or through a manual upload into the tables?

Thanks.

[2016-07-26 17:48] lsetiawan commented on #15
Thanks @miguelcleon. While learning django. I've gained more understanding about the models and settings for ODM2-Admin. I've tweaked the model.py to hard coded `odm2` schema for each `db_table` variables in class Meta similar to what you did for the `odm2extra`.

I then created another schema called `admin`. I also set `admin` schema as the default for django. When I ran `python manage.py migrate

[2016-07-26 17:50] miguelcleon commented on #16
I have been doing a mixture of manual entry via the web app, Django ORM scripts and SQL scripts.

[2016-07-26 18:00] miguelcleon commented on #15
Cool! Can you do a pull request into the Django1.9.7Support branch?

[2016-07-26 18:08] miguelcleon commented on #16
This file is a sample Django ORM Script https://github.com/miguelcleon/ODM2-Admin/blob/master/ODM2CZOData/NewProcessinglevelForTimeSeries.py

[2016-07-26 18:29] lsetiawan commented on #15
@miguelcleon let me clean up my repo git stuff. I didn't notice the second branch. Please ignore the current pull request. Thanks.

[2016-07-26 18:33] emiliom commented on #16
Thanks! Very helpful.

[2016-07-27 17:28] emiliom commented on #15
Regarding the schema issues:Thanks, @lsetiawan! That's great.

@miguelcleon, on your README page it says "support tested for django 1.6.5 and 1.9.x". I have no direct experience with django development. But given that so far you're the only user of ODM2-Admin, wouldn't it be easier if you limited backwards compatibility and supported only Django 1.9.x? It sounds like that would minimize developmen

[2016-07-27 23:40] miguelcleon commented on #15
Yeah I'm hoping to drop support for 1.6.x soon, can't upgrade a server but we are transitioning to a different one which will be on django 1.9.x

[2016-07-30 20:46] emiliom commented on #2
Just adding that PR #20 from @lsetiawan is making headways on this issue. Pretty cool!

[2016-08-01 15:26] miguelcleon commented on #2
Yes, this is great! I changed the map center, in a recent commit, I'm excited about the possibilities for this.

[2016-08-11 16:13] lsetiawan opened #35 "Enhancing the management and exposure of persistent universal identifiers"
Hi @miguelcleon  and @emiliom,

I am currently, enhancing ODM2Admin by displaying IGSN in the Sampling Features change list, and allow one to enter IGSN when creating a Sampling Feature. I have also added a feature to display ORCID for a Person and their affiliation. Additionally, one can enter a person's ORCID within the person add form.

I improved the UI a bit for listing editable item types in

[2016-08-11 16:37] miguelcleon commented on #35
Cool, I checked out the screen shoots, looks great. Do a pull request when your ready.

[2016-08-11 17:46] emiliom commented on #35
Thanks, @lsetiawan. @miguelcleon, it'll probably be another week or more before we're ready to do a PR. But my goal is to have these new features in place to demonstrate from a local / laptop instance at the Montreal workshop.

[2016-08-11 18:56] miguelcleon commented on #35
sounds good, l'm looking forward to giving it a try @lsetiawan @emiliom

[2016-08-17 14:45] miguelcleon commented on #35
Hi, how is this coming along? @lsetiawan @emiliom

[2016-08-17 15:55] lsetiawan commented on #35
Hi @miguelcleon, It is coming along great. I'm still doing few tweaks here and there to improve the UI.

[2016-08-17 15:56] lsetiawan opened #36 "Misspellings on models.py cause errors"
@miguelcleon I noticed that you have a couple misspellings in models.py which lead to errors when trying to retrieve values from the ODM2 database. There are instances that you have misspelled _identifier_ as _identifer_ I fixed this in my code, but now ODM2Admin is messed up when run with your database in few areas such as citations. Thanks

cc: @emiliom

[2016-08-17 15:59] lsetiawan commented on #36
L359 `citationexternalidentiferuri = models.CharField(max_length=255, blank=True, db_column="citationexternalidentiferuri")`

L2395 `variableexternalidentifer = models.CharField(max_length=255)`

[2016-08-17 16:03] miguelcleon commented on #36
Yeah we can fix these, I'm pretty certain they had been misspelled in an older release of ODM2 and it carried through.

[2016-08-17 16:06] miguelcleon commented on #36
I think I just need to fix my column names on the SQL table after I install your PR.

[2016-08-17 16:16] lsetiawan commented on #36
Sounds good. Yea, I did that to your copy database, and it seems to work now. Thanks.

[2016-08-17 16:26] emiliom commented on #35
Yup. @lsetiawan is now exposing doi's, ORCID id's and IGSN's in a nice and user-friendly way, as links to the external records. I'll show this in Montreal next week. Don should be able to submit a PR next wee, once the code stabilizes and we're less focused on entering the cross-CZO sampling information (for the meeting), thinking through UI implications, etc.

[2016-08-17 16:31] emiliom commented on #36
Yeah, this is pretty likely. Sigh. We really need to do a better job on the ODM2 end (ie, the core ODM2 gang) to define schema versions or releases, to make it easier to align ODM2 software like ODM2-Admin with the schema being used.

[2016-08-17 18:51] emiliom commented on #11
Two updates:
1. I installed ODM2-Admin on my laptop (Ubuntu 14, Postgresql 9.3, PostGIS 2.1, Python 2.7) today! With handholding from @lsetiawan, using his [crossczo branch](https://github.com/lsetiawan/ODM2-Admin/tree/crossczo). We're [installing all dependencies via conda](https://github.com/lsetiawan/ODM2-Admin/blob/crossczo/odm2adminenv.yml), then running ODM2-Admin directly from a local clone

[2016-08-17 19:54] miguelcleon commented on #11
great, thanks for the update.

[2016-08-19 16:53] emiliom commented on #11
@ocefpaf, were you able to make progress with conda packaging? Thanks.

[2016-08-19 17:20] emiliom commented on #11
I feel your pain. My laptop keyboard was dying a slow death a couple of months ago, until I bought a new one.

[2016-08-19 21:00] lsetiawan opened #39 "User Privileges to only view"
Hi @miguelcleon,

Do you know or have you thought of a capability for a user to login and only view the data without changing, adding, or deleting?  Thanks.

Best,
Don

[2016-08-19 21:50] miguelcleon commented on #39
I've thought about it and it would be nice to have. I think you could set it up just with the permissions structure that django gives you but it would be a pain to setup manually through the web app and I don't understand the database structure of the django tables to write a script. If you could write a script that could create such a user that would be really cool.

[2016-08-19 21:54] lsetiawan commented on #39
Hmm... So does the UI need to change also to allow this "read-only" mode since there are alot of places, where add and change buttons are hardwired?

[2016-08-19 22:20] miguelcleon commented on #39
No I don't think a UI change is needed, but to use the existing UI to do this would just be a pain is all. I could show you, but not today, I need to go home after 6 on the east coast.

[2016-08-19 22:22] miguelcleon commented on #39
actually I just looked at it, maybe it wouldn't work, looks like the permissions are for 'add', 'edit' and 'delete' with no view only option

[2016-08-19 22:26] lsetiawan commented on #39
This ModelAdmin works: [https://gist.github.com/aaugustin/1388243](https://gist.github.com/aaugustin/1388243)

But I have to figure out how it is used for only non super-user. It is a problem yet to be solved. Thanks for the ideas and suggestions.

[2016-08-22 13:24] miguelcleon commented on #35
Thinking about doing a PR today? @lsetiawan

[2016-08-22 16:19] emiliom commented on #35
@miguelcleon, I've asked @lsetiawan to hold off until after the workshop. Mostly, b/c I need his time! At the workshop, you and I can chat about the changes Don has made and discussions we've had; I can show them to you on my laptop. Then after coordinating with Don, he can do a PR after Wednesday. Sound good?

[2016-08-22 16:22] miguelcleon commented on #35
ok

[2016-08-26 19:01] miguelcleon commented on #39
Have you had a chance to work on this? Emilio said you might do a PR for the updates you made for ORCID IDs and ISGNs late this week. Maybe you have one?

[2016-08-26 19:50] lsetiawan commented on #39
@miguelcleon I haven't had a chance to work on this functionality. Emilio and I haven't discuss about PR yet, but once we figure out how to do this we'll move forward. Thanks

[2016-08-29 23:52] miguelcleon commented on #35
@emiliom can @lsetiawan issue the PR now I'd really like to see those changes you should role into the site. Thanks!

[2016-08-29 23:55] emiliom commented on #35
@lsetiawan was getting set to do that today, but we weren't able to touch base on this today. We'll discuss tomorrow (Tue), and hopefully he'll be able to follow up with a PR or more soon after.

In the meantime, if you're **really** curious, [all his changes are on his fork, on the `crossczo` branch](https://github.com/lsetiawan/ODM2-Admin/tree/crossczo). At least changes through last Wednesday,

[2016-08-30 00:00] miguelcleon commented on #35
Yeah I was thinking about that, I'd prefer a PR, showing the site again on Wednesday morning so I might pull from it but I don't want to if it's not ready.

[2016-08-30 00:03] emiliom commented on #35
Got it. I have no clue how much extra work it'll be for Don to create the PR(s) after he and I talk tomorrow. But hopefully it won't be a big deal, and he'll be able to submit by your mid afternoon, maybe earlier.

[2016-08-30 12:43] miguelcleon commented on #35
Hopefully shouldn't be a big deal. Thanks!

[2016-08-30 18:37] emiliom commented on #35
Don and I discussed the PR an hour ago. He will submit it **very** soon, if he hasn't done so already. His availability to answer questions this week may be limited, but from what he tells me, the PR has few or no conflicts relative to your master branch, so hopefully you'll be able to merge easily.

[2016-09-01 19:34] miguelcleon commented on #36
I did fix my column name after I moved your updates live, I'm not sure if this is fixed in the base ODM2 project though.

[2016-09-01 19:42] emiliom commented on #36
I haven't seen any noise about fixes in the base ODM2 schema. For later tracking, I'm pasting below the issues Don submitted on the ODM2 repo:
- https://github.com/ODM2/ODM2/issues/129
- https://github.com/ODM2/ODM2/issues/128 (about a controlled vocabulary, not the schema)

In principle I could fix the first one myself; in practice, I haven't been properly set up with DbWrench for a while, I thin

[2016-09-06 20:58] miguelcleon commented on #36
I think this is probably related to this issue but I was having trouble locating the misspelling at the moment:
![image](https://cloud.githubusercontent.com/assets/5941108/18290852/117f1064-7453-11e6-9152-4ccf9a760043.png)

[2016-09-06 21:48] lsetiawan commented on #36
I just tested deleting organization. It is fine for me. No Errors. Thanks. Not sure why you're getting the error...

[2016-09-07 13:43] miguelcleon commented on #36
Ok, I had to do the following. I'll check ODM2 package to see if this is an old problem or still present.

`ALTER TABLE odm2.variableexternalidentifiers
  RENAME variableexternalidentifer  TO variableexternalidentifier;
`

[2016-09-07 15:49] lsetiawan commented on #36
Yea, I figured that was the Issue, I have brought it up to the main ODM2 as Emilio has mentioned in the comment above. It seems like no fix has been implemented. Glad it works for you now after altering the table.

[2016-09-08 20:32] ocefpaf opened #46 "Enforce a linter for pep8 rules"
@miguelcleon do you want to enforce a linter for [`pep8`](https://www.python.org/dev/peps/pep-0008/) rules here? I usually do that in my code and I even add it as part of the continous integration tests.

(See https://github.com/ocefpaf/ODM2-Admin/blob/Travis-CI/.travis.yml#L28 for example.)

I already started to re-organizing the code in some places but the amount of work required to bring `ODM2-

[2016-09-09 19:24] emiliom commented on #46
@ocefpaf, personally I'm starting to care more and more about pep8. I haven't looked at ODM2-Admin code with an eye for pep8, but I'm pretty sure the contributions/commits from @lsetiawan (working with me on ODM2-Admin) are not strictly pep8. I believe there are only two developers for ODM2-Admin at this time, @miguelcleon and @lsetiawan.

So, my 2 cents is that this is too much work and not worth

[2016-09-09 19:31] miguelcleon commented on #46
It might be nice If perhaps one of the shorter files could be made pep8 compliant as an example. perhaps [https://github.com/miguelcleon/ODM2-Admin/blob/master/ODM2CZOData/lookups.py ](lookups.py ) @ocefpaf  maybe you would be willing to take that on one and so we can learn from a particle example? A good thing about using lookup.py is that both myself and @lsetiawan have contributed to this file.

[2016-09-09 19:32] emiliom commented on #46
:+1:

[2016-09-12 18:34] miguelcleon opened #48 "error saving sampling features"
I tried to save a feature as a polygon to see what would happen it seems that GEOS may not function with polygon's in Django. In any case after I tried to save a sampling feature as a polygon. I got errors, then I tried to change the feature back to a point and I couldn't get the sampling feature to save again as a point. I ended up just mannually changing it back to a point in SQL.

[2016-09-12 19:36] ocefpaf commented on #46
It can be a pain when working alone but if done from the start it pays off by keeping the code clean and lowering the entry barrier for contributions later on.

Let's take a bit size approach then and maybe all the authors can review the errors on Travis-CI and send small PRs addressing some of the issues.

Will do. But the best way to check for compliance is to install a linter and run it like th

[2016-09-12 21:09] #46 closed

[2016-09-20 18:32] lsetiawan commented on #39
Hi @miguelcleon I am back to working on this. Do you have any further insight on this issue? Thanks.

[2016-09-20 18:39] miguelcleon commented on #39
No I haven't I created http://odm2admin.cuahsi.org/Sandbox/ which points to a copy of the LCZO database I randomly deleted 30% of the data from I was just going to give some trusted people accounts to that and let them do whatever they want.

[2016-09-20 18:40] emiliom commented on #11
@ocefpaf, just wondering if you've been able to make more progress over the last week.

Also, how do you recommend that we track progress on this, besides your individual PR's? Is this old issue a good way to go? Or the even older issue at https://github.com/ODM2/conda-recipes-ODM2/issues/27 ?

FYI, @lsetiawan has some time this week and next to help out with testing or other needs involving the c

[2016-09-20 18:48] ocefpaf commented on #11
I haven't commit anything yet. Working out some priorities on another front.

I'd rather keep things simple. We can use this one as it is pertinent to packaging `ODM2-Admin` and ODM2/conda-recipes-ODM2#27 with regard to the conda-package once this is former is closed.

@lsetiawan or @miguelcleon do you have a time for a call later this week? I would like to ask a few questions regarding testing? (

[2016-09-20 18:51] lsetiawan commented on #11
@ocefpaf I am available whenever between 8:00 PT to 4:00 PT. Thanks.

[2016-09-20 18:55] ocefpaf commented on #11
How about tomorrow 10:00 PT (14:00 here)? both gtalk and skype username is `ocefpaf`.

[2016-09-20 19:00] lsetiawan commented on #11
I can do that time. I think @miguelcleon should be there too since he is the main developer for this, and knows about ODM2Admin inside and out. Plus I am also new to the whole thing about testing frameworks. Thanks.

[2016-09-20 19:01] ocefpaf commented on #11
I mostly want to get an instance running on my own laptop. Once I can do that I will try to design a simple test to avoid breakages in my following PRs.

[2016-09-20 19:04] miguelcleon commented on #11
That sounds good. @lsetiawan do you just want to have a brief chat today call me at 215-746-5974 in the next hour and we can talk about recent changes I've made.

[2016-09-20 19:05] lsetiawan commented on #11
@miguelcleon Sure. I will be having lunch soon. Would 1:00 PT work?

[2016-09-20 19:07] miguelcleon commented on #11
@ocefpaf  10 AM PT / 1 PM eastern will work to make sure your laptop is setup. let's use gotomeeting so we can do a screen share and I can take control if need be.
get Felipe setup
Wed, Sep 21, 2016 1:00 PM - 2:00 PM Eastern Daylight Time

Please join my meeting from your computer, tablet or smartphone.
https://global.gotomeeting.com/join/896177693

You can also dial in using your phone.
United St

[2016-09-20 19:08] miguelcleon commented on #11
@lsetiawan sure, I'll need to make it brief though, I had an early morning and need to head home aroun 4:30 / 1:30 PT.

[2016-09-20 19:14] ocefpaf commented on #11
OK.

Thanks! I need to see how you are setting up and running `ODM2-Admin` so we can put a simple `.travis.yml` config that does the same and ensure that won't be broken with further changes.

[2016-09-20 19:31] lsetiawan commented on #39
Ah. Okay. I'll try to look into this again, and see what I can find. I just got done with Lunch, let me know when you're available to talk. Thanks.

[2016-09-20 19:33] miguelcleon commented on #39
I'm available now call me at 215-746-5974

[2016-09-20 19:34] emiliom commented on #11
Thanks, all! And @ocefpaf, this sounds good:

[2016-09-20 19:36] miguelcleon commented on #39
actually let's do a go to meeting
talk to Don
Tue, Sep 20, 2016 4:00 PM - 4:30 PM Eastern Daylight Time

Please join my meeting from your computer, tablet or smartphone.
https://global.gotomeeting.com/join/703384557

You can also dial in using your phone.
United States +1 (224) 501-3312

Access Code: 703-384-557

First GoToMeeting? Try a test session:   http://help.citrix.com/getready

[2016-09-20 19:40] lsetiawan commented on #39
I am at the gotomeeting.

[2016-09-21 16:57] ocefpaf commented on #11
@miguelcleon and @lsetiawan I am in the https://global.gotomeeting.com/join/896177693

[2016-09-21 17:54] lsetiawan commented on #39
@miguelcleon Exciting progress in this issue. I am able to make the form People view only when user group is readonly, I'm going to apply these to all the forms in forms.py and clean up the code to meet pep8. See screenshots below.

<img width="1424" alt="screenshot 2016-09-21 10 47 43" src="https://cloud.githubusercontent.com/assets/17802172/18722468/c2f8ebd4-7fe9-11e6-9edc-7f627d4a526b.png">
<im

[2016-09-21 17:58] miguelcleon commented on #39
ok sounds good.

[2016-09-23 13:38] miguelcleon opened #55 "add time series results and time series values"
I'm going to work on adding time series results and time series values into the site. Hopefully this won't interfere with what @lsetiawan is working on.

[2016-09-26 18:14] miguelcleon commented on #15
Hi @emiliom the last commit I pushed today should address the issue

based on record counts in <resulttype>results tables, only two result types are being used: measurement and profile. But a count of results.resulttypecv entries yields two different result types: "Measurement" (12,192) and "Time series coverage" (199).
<resulttype>results table record counts: measurementresult (205) and profilere

[2016-09-27 06:32] emiliom commented on #15
Thanks for the heads-up, @miguelcleon. I'm still trying to digest the email exchange about time-series-like measurements, and think about the pros and cons of measurements vs time series result types in this context. I'll *try* to have some input tomorrow.

Regardless, *consistency* is good, and your change does bring about consistency.

[2016-09-27 16:21] miguelcleon commented on #55
done

[2016-09-27 16:21] #55 closed

[2016-09-30 19:46] miguelcleon opened #58 "include example ODM2 database"
@ocefpaf suggested including a database in the github repository to make it easier to setup ODM2 Admin perhaps we could use the CZIMEA one? I was thinking about Jeff Hoursbough’s little bear river one but it is MSSQL so it won’t work for this. Maybe you want to make an altered copy of the CZIMEA database to include? What do you guys think @emiliom @lsetiawan ? I could try to make a really stripped

[2016-10-03 13:55] miguelcleon commented on #39
Started testing this out I found that I can change a sampling feature coordinates from a testuser account in the readonly group. That should not be the case.

![image](https://cloud.githubusercontent.com/assets/5941108/19039814/6b5e026e-894f-11e6-9307-7435c7f975c3.png)

[2016-10-03 14:02] emiliom commented on #58
Feel free to use the CZIMEA database as it stands, but I warn you that it's
very early stage and it's more of a toy and proof of concept at this point.
It may even have nonsensical and inconsistent information, and it
definitely has made-up information. So, it may be confusing to some.

Once it's much more developed and real, I'm not sure the team will be
comfortable sharing it for this purpose.

[2016-10-03 14:18] miguelcleon commented on #58
Ok, yeah I was trying to delete out some LCZO data for the ODM2 Admin sandbox and I found it could take a while to remove things. I'll ask Bill what he thinks about using a version of the LCZO data. Maybe If I just remove like 2/3rds of it over a weekend that might work.

[2016-10-03 15:10] lsetiawan commented on #39
Hi @miguelcleon , Yea. I noticed this as I was making things read only. I'm still trying to figure out a way to show just the point. Thanks for letting me know. It definitely still need some polishing.

[2016-10-19 19:47] miguelcleon opened #65 "Django ORM Srcipts broken in order to pass pep8"
These files have been broken in order to pass pep8/travis:

https://github.com/miguelcleon/ODM2-Admin/blob/master/soilsIngestionExample/ImportMStoneData.py

https://github.com/miguelcleon/ODM2-Admin/blob/master/ODM2CZOData/NewProcessinglevelForTimeSeries.py

They need this at the start:

[code]

before other django imports, @ocefpaf if we add #noqa to these lines will that work?

[2016-10-19 19:54] ocefpaf commented on #65
Not sure what rule they were breaking. Was it the imports below those lines? If that is the case it is rule `E402` and `noqa` won't work. We need to by-pass that rule in Travis-CI. @lsetiawan if you want to go ahead and fix those files I can fix Travis-CI right after the changes.

[2016-10-19 19:59] miguelcleon commented on #65
I can fix the files quick @lsetiawan @ocefpaf it maybe easier for me to double check that they work because they are atypical files.

[2016-10-19 20:01] lsetiawan commented on #65
@miguelcleon Thanks Miguel, sounds good to me. I won't have time to work on ODM2-Admin today. I'll start looking at your comments tomorrow morning.

[2016-10-19 20:04] miguelcleon commented on #65
This applies to this file also
https://github.com/miguelcleon/ODM2-Admin/blob/master/ODM2CZOData/modelHelpers.py

[2016-10-19 20:31] miguelcleon commented on #65
Ok, I just pushed a commit for these three files. @ocefpaf please take a look when you get a chance.  E402 is the problem, so it sounds like we will need to by-pass that rule at least for these files, maybe it is possible to have some kind of flag?

[2016-10-19 21:22] miguelcleon commented on #65
Ok I got it to pass by editing travis.yml and ignoring E402 :)

[2016-10-19 21:22] ocefpaf commented on #65
Oops. Sorry. I guess I missed the PR.

Ignore E402 per file is not an easy task since https://github.com/PyCQA/pycodestyle/issues/381 was rejected. But it is safe enough to ignore it globally and keep following the rule whenever it makes sense. See my next PR.

[2016-10-19 21:23] ocefpaf commented on #65
Ah you were quicker... but again I missed the PR :-(

[2016-10-19 21:24] ocefpaf commented on #65
@miguelcleon are you committing direct to `master`?

[2016-10-19 21:26] miguelcleon commented on #65
yes, in this case I did and have been most of the time.

[2016-10-19 21:27] miguelcleon commented on #65
I could not do that. @ocefpaf

[2016-10-19 21:27] ocefpaf commented on #65
OK. That explain why I could not see the changes :smile:

Either way I am rebasing my PR so we can clean this up a little bit more.

[2016-10-19 21:28] ocefpaf commented on #65
It is highly recommend but this is your project so it is your choice.

[2016-10-19 21:30] miguelcleon commented on #65
Ok, I can understand why, just worked on it by myself for so long, I got used to it. But I can see why it  would be better fork and stage things, especially to keep the project in a passing state on travis.

[2016-10-19 21:34] ocefpaf commented on #65
I am guilt. I do that in all my projects, when I am alone :smile: but good practices, like not commit to `master`, are better for aggregating a community around your project.

[2016-10-22 19:02] lsetiawan commented on #65
@miguelcleon I have the new rebased viewonly capability ready to be pushed. Is there a way that you can add like a `development` branch for staging/testing purposes? I think it would be a good idea. Thanks

[2016-10-24 13:16] miguelcleon commented on #65
OK I created a testing branch and cleaned up some other branches.

[2016-11-28 17:17] emiliom commented on #39
@miguelcleon, I happened to be looking at issues and saw this. It sounds like this one can be closed, or are there outstanding (sub)issues? FYI, Don is on vacation for the next ~ two weeks. He may be tempted to follow up, but I hope he doesn't :smiley:

[2016-11-28 17:24] miguelcleon commented on #39
Your right this can be closed.

[2016-11-28 17:24] #39 closed

[2016-12-08 07:53] emiliom opened #79 ".gitignore changes to better handle jupyter notebooks, etc"
In my notes from our call last Friday I wrote that I was going to make tweaks to your `.gitignore` file. For now, the simplest way for me to do this (instead of a PR) is to list them here and have you apply them. Sorry ...

**Remove:**
`*.ipynb`

I would remove `.gitignore` from the list, so that changes to it are propagated. But there are probably different schools of thought on that.

**Add:**
`

[2016-12-08 14:15] miguelcleon commented on #79
Ok, thank you @emiliom I've made the suggested changes.

[2016-12-08 14:15] #79 closed

[2016-12-15 19:28] lsetiawan commented on #2
@miguelcleon I think this issue can be closed now. It seems that we have successfully implemented GeoDjango. Thanks

[2016-12-15 19:35] #2 closed

[2017-01-04 23:28] emiliom opened #82 "Rename ODM2CZOData folder to something more generic, eg, odm2admin?"
@miguelcleon, is having a base folder name `ODM2CZOData` necessary or even helpful at this point? It doesn't seem like it.

As we prepare to make a last push (hopefully) on [conda packaging](#11), plus improvements to the setup/configurations that @lsetiawan has made recently (see [his commits on his branch since 12/20](https://github.com/lsetiawan/ODM2-Admin/commits/dev)), this is a good time to

[2017-01-04 23:37] emiliom commented on #11
@ocefpaf, any updates on progress towards ODM2-Admin packaging? I know the holidays were not the best time to make steady progress .... I just got back myself, and @miguelcleon was away for a week or so. Only @lsetiawan was plugging away steadily :smile_cat:

I saw your brief exchanges with @lsetiawan on his [most recent ODM2-Admin commit](https://github.com/lsetiawan/ODM2-Admin/commit/f95623495ac

[2017-01-05 14:22] miguelcleon commented on #11
Hi All,

One thing I'd like to see with this packaging work and changes to settings is adding some switching for enabling or disabling geodjango. In my own development branch ([https://github.com/miguelcleon/ODM2-Admin/tree/django1.10]) I've been working on setting up batch jobs to email time series data. Ideally this should use celery with redis. Geodjango doesn't seem to work with celery though.

[2017-01-06 15:23] #65 closed

[2017-01-06 15:24] miguelcleon commented on #58
I added the test database ODM2AdminExamplePostgresqlDB

[2017-01-06 15:24] #58 closed

[2017-01-06 20:56] miguelcleon opened #84 "attach time series data as zip files instead of csv files"
attach time series data as zip files instead of csv files
This seems like a good place to start, examples I've found aren't as straightforward as I hoped though:
https://djangosnippets.org/snippets/365/

[2017-01-09 22:38] lsetiawan opened #88 "Separating code settings and user configuration"
I am opening this issue to reference back as we develop this separation between code settings and user settings. I am referencing pull [#87](https://github.com/miguelcleon/ODM2-Admin/pull/87)

@miguelcleon @ocefpaf @emiliom

[2017-01-10 20:37] miguelcleon commented on #82
@emiliom we should be able to change the name of the folder. I don't think the current name is particularly good or useful.

[2017-01-11 15:05] miguelcleon commented on #82
@emiliom This is addressed in this PR https://github.com/miguelcleon/ODM2-Admin/pull/89/files I've renamed the folder odm2admin. I'll merge this later unless @ocefpaf has anything to add.

[2017-01-11 15:07] ocefpaf commented on #82
Right now, no. I am working on how to ship the extra data files. PR later today...

[2017-01-11 15:15] miguelcleon commented on #82
Ok great. Merging now.

[2017-01-11 15:27] #82 closed

[2017-01-11 15:41] emiliom commented on #82
Thanks!

[2017-01-24 17:37] emiliom commented on #16
- A sample script for loading soil profile data: https://github.com/miguelcleon/ODM2-Admin/blob/master/soilsIngestionExample/ImportMStoneData.py. The csv file that's loaded, [EnzBiomass.csv](https://github.com/miguelcleon/ODM2-Admin/blob/master/soilsIngestionExample/EnzBiomass.csv), is in the same folder.
- Note the use of Django "commands" functionality (equivalent of shell scripts, sort of). Can

[2017-01-24 17:49] emiliom commented on #11
@ocefpaf and @miguelcleon, I see a ton of progress you (and @lsetiawan) have made in the last couple of weeks towards an ODM2-Admin conda packaging.

@ocefpaf, are you in a position to estimate when a first test conda package may be created? Say, next week??

[2017-01-24 22:28] ocefpaf commented on #11
Probably not. There are some lingering issues to resolve,

  1. The common env to build and test is not OK as reported by @miguelcleon in https://github.com/miguelcleon/ODM2-Admin/pull/96#issuecomment-274674964 (we need an issue to track that properly as that PR is unrelated to the problem.)
  2. I am reading to see if PR #96 is the way to go. As a packager I am not OK dropping the extra data as a

[2017-01-25 08:03] emiliom commented on #11
Thanks for the update.

@lsetiawan, can you comment on @ocefpaf's 3rd point?

[2017-01-25 14:05] miguelcleon opened #97 "conda environment generated from requirements.txt is not completely functional"
When attempting to run ODM2 Admin with a conda environment generated from requirement.txt some errors are encountered:

1) inline forms were not rendering, I'm guessing this has to do with this import not working properly https://github.com/miguelcleon/ODM2-Admin/blob/master/odm2admin/forms.py#L2

2) ajax lookup fields sometimes weren't working. I haven't been able to figure out why some worked an

[2017-01-25 14:08] miguelcleon commented on #11
Ok I created a new issue #97

[2017-01-25 16:04] miguelcleon commented on #11
@ocefpaf for your item 2. maybe adding another folder layer would do? we could simply move the folders odm2admin, soilsIngestionExample, templatesAndSettings, and tests into an odm2admin folder.

[2017-01-25 16:19] miguelcleon commented on #16
The Jupyter notebooks can be run from the hydroshare Jupyter hub http://hydroroger.ncsa.illinois.edu/

[2017-01-25 17:29] lsetiawan commented on #11
@ocefpaf Not sure which configuration you are talking about.. Do mean this one: https://github.com/lsetiawan/ODM2-Admin/commit/f95623495ac8f6548bd6b80d9493084b03d6839f

[2017-01-25 17:36] ocefpaf commented on #11
Yes. I do mean those changes.

PS: I am taking a day off today for personal reasons but I will get back to
this tomorrow.

**********************************************************
Filipe P. A. Fernandes
Physical Oceanographer

Email: ocefpaf@gmail.com

http://ocefpaf.github.io/
**********************************************************

On Wed, Jan 25, 2017 at 2:29 PM, Landung Setiawan <notifica

[2017-01-25 17:40] lsetiawan commented on #11
@ocefpaf Okay. Cool. I never implemented this on master. I will get working on that. Thanks 😸

[2017-01-25 20:59] emiliom commented on #16
Thanks for the additional info & clarifications. I was just adding information on this dormant "issue", to maintain it as a broadly useful resource on data loading topics in ODM2-Admin.

[2017-01-31 00:08] lsetiawan opened #98 "NoReverseMatch on forms with ajax"
I'm getting NoReverseMatch errors on change form with ajax.

For Example:
NoReverseMatch at /admin/odm2admin/units/2/change/

Reverse for 'odm2admin_cvunitstype_add' with arguments '()' and keyword arguments '{}' not found. 0 pattern(s) tried: []

[2017-01-31 15:36] miguelcleon commented on #98
I'm not seeing this problem on the development or production server. I had seen this problem on the development server when I was using the python environment generated from the requirements.txt file. Maybe your seeing this on a local copy of ODM2 Admin?

[2017-01-31 17:31] lsetiawan commented on #98
@miguelcleon Yes, I'm seeing this while I'm developing. Thanks. I will try to use an environment generated not from requirements.txt

[2017-01-31 17:33] miguelcleon commented on #98
@lsetiawan ok, if we can figure out what is going wrong with that we should be able to help @ocefpaf  with the packaging. Is some requirement missing? I've been meaning to look into this more.

[2017-02-02 16:31] miguelcleon commented on #10
This is done.

[2017-02-02 16:31] #10 closed

[2017-02-02 16:33] #36 closed

[2017-02-02 16:34] miguelcleon commented on #3
One thing that remains outstanding is datetime is assumed to be the first coumn.

[2017-02-03 11:30] ocefpaf commented on #97
If you find any packaing problems with `django-ajax-selects` selects let me know in:

https://github.com/conda-forge/django-ajax-selects-feedstock/issues

Maybe it just needs the right version?

[2017-02-03 15:48] miguelcleon commented on #97
So I thought I'd test this by creating the environment again and inspecting the django-ajax-selects version in the environment I'm using to run the application and a fresh environment generated from the requirements.txt file. However when I run `conda create --yes -n ENVNAME python=3.5 --file requirements.txt` I get `PackageNotFoundError: Package not found: '' Packages missing in current linux-64

[2017-02-03 15:53] miguelcleon commented on #97
Also I've actually been using python 2.7.12 in the environment running the application.

[2017-02-03 16:20] ocefpaf commented on #97
You can do like we what we have in the `.travis.yml` file:

[code]

or you can do all in one command with:

[code]

The former will add `conda-forge` to your `.condarc` file the latter won't.

[2017-02-03 17:19] miguelcleon commented on #97
Ok, great. I've been able to reproduce the problem. I was using an older version of django-ajax-selects. The solution should be to fix the bug rather then pin the package. I'll open another issue with the details.

[2017-02-03 17:27] miguelcleon opened #104 "Bug when upgrading Django-ajax-selects from 1.4.3 to version 1.5.2"
@lsetiawan I found one of potentially two problems from the Conda packaging @ocefpaf has been working on. The problem appears to be related to the read only group. The bug only appears after upgrading Django-ajax-selects to version 1.5.2 (the servers are using 1.4.3).
[code]
Can you try to reproduce this?

[2017-02-03 17:32] lsetiawan commented on #104
@miguelcleon This was the similar problem that I encountered on this issue https://github.com/miguelcleon/ODM2-Admin/issues/98 When i comment out the parts of the code that creates the ajax fields it works fine. I will try to look into this further. Maybe Djano-ajax-selects have really updated their syntax. Thanks.

[2017-02-03 17:33] ocefpaf commented on #104
@miguelcleon I agree that fixing it is the best course of action, but let me know if you want me to add an old version (`1.4.3`) to the channel while we figure this out.

[2017-02-03 17:37] miguelcleon commented on #104
@lsetiawan yes, #98 does appear to be the same problem, just on a different ajax select field.

[2017-02-03 17:48] miguelcleon commented on #104
@ocefpaf yes it would be good to have the old version for the moment. Then I can check if the other problem with the inline forms is still occuring. It doesn't seem to happen on my local development machine.

[2017-02-03 17:55] miguelcleon commented on #104
@lsetiawan so for some reason not all of the ajax select fields have the problem for instance I can load the results change form fine (/odm2admin/results/16658/change/ for example with the LCZO database). This uses the  `AJAX_LOOKUP_CHANNELS` `featureaction_lookup`  I thought maybe using `AutoCompleteSelectField` instead of `make_ajax_field` was the difference but I tried changing it in one of the

[2017-02-03 18:13] lsetiawan commented on #104
@miguelcleon I commented out `autoselect_fields_check_can_add(form, self.model, request.user)` in readonlyadmin.py and this seemed to fix the problem. Though I'm not quite sure of the consequences. Thanks.

[2017-02-03 18:20] miguelcleon commented on #104
@lsetiawan I can confirm that commenting out that line prevented the error. It might not be a problem if a readonly user still can't make any changes.

[2017-02-03 18:24] miguelcleon commented on #97
Ok, I'm still getting the other problem, I had noticed. This isn't as big of a problem but it still should to be addressed.  I'll open another issue for that.

[2017-02-03 18:32] miguelcleon opened #105 "'+ add another' links don't appear on inline forms when using conda environment generated from requirements.txt"
'+ add another' links don't appear on inline forms when using conda environment generated from requirements.txt
for instance you can't add another featureaction from the sampling feature change form.
odm2admin/samplingfeatures/1/change/

This doesn't occur on my local development build. I'll see if I can find the package that might be causing this.

[2017-02-03 18:44] lsetiawan commented on #105
@miguelcleon I tried replicating this problem, but I don't see any problem.. I am using the environment from requirements.txt

<img width="1393" alt="screenshot 2017-02-03 10 41 34" src="https://cloud.githubusercontent.com/assets/17802172/22603718/55e63280-e9fd-11e6-9ec2-7981224eaebf.png">

[2017-02-03 18:55] miguelcleon commented on #105
@lsetiawan Ok, that's interesting, thanks for the input.

[2017-02-03 19:22] miguelcleon commented on #105
Ok, I applied the latest updates to ODM2 Admin from master. But I'm still getting the same thing. I'm not sure what is going on then.

[2017-02-03 19:51] ocefpaf commented on #104
See #106

[2017-02-07 04:51] emiliom opened #107 "Docker file/image"
I'm opening this issue just to track progress on creating a Docker file/image (I don't know what's the difference!), as discussed in PR #96. To reiterate what was discussed there, it looks like work on conda packaging ODM2 Admin (previously discussed off and on in issue #11; see also PR #102) will stop, in favor of a Docker solution.

Pinging @lsetiawan since it looked he was going to take some le

[2017-02-07 11:16] ocefpaf commented on #107
The `Dockerfile` is a simple text with the instructions to create the image. We should avoid creating images "by hand" and prefer the `Dockerfile` for reproducibility purposes.

I won't stop completely. But there is no room for improvements right now unless some compromises between a stand-alone app and a re-usable app are discussed. Once PR #102 is merged I still have another one to send towards

[2017-02-21 15:17] miguelcleon commented on #105
Ok, I figured it out. Some CSS files weren't loading because they weren't in the static directory on the server. This is fixed now.

[2017-02-21 15:17] #105 closed

[2017-03-08 22:34] lsetiawan opened #115 "CZO Sampling Feature in map"
@miguelcleon I've been developing the web map to meet the needs of CZIMEA. I have implemented filter by Sampling Feature Type, but I notice that you have a type that is not in the standard library, but rather from an externalidentifier `CZO`. I've been cleaning up and rearranging the code, but wasn't sure how I can put this in.. What was your thought in adding CZO Sampling feature type?

[2017-03-08 23:40] miguelcleon commented on #115
Yeah that is kind of a hack. There is not a big reason to keep it.

[2017-03-09 00:33] lsetiawan commented on #115
@miguelcleon OK, Great! Lessen my work. Thanks. :)

[2017-03-29 19:14] lsetiawan commented on #107
@ocefpaf I started working on this a few weeks ago, and I just pushed the code to my repo, when you have time, please comment if I'm doing this right: https://github.com/lsetiawan/ODM2-Admin/blob/docker_test/docker/Dockerfile

@miguelcleon I am looping you in on this one.

[2017-03-29 19:19] ocefpaf commented on #107
I will take a look asap.

PS: did you see https://www.caktusgroup.com/blog/2017/03/14/production-ready-dockerfile-your-python-django-app/ ? (That should help you a little bit.)

[2017-03-29 19:22] lsetiawan commented on #107
@ocefpaf I will take a look at that and tweak my Dockerfile, I am probably not following any Docker conventions.. quite new at this haha 😝

[2017-03-30 03:00] emiliom commented on #107
Thanks to both for the progress on this front. @miguelcleon just asked me about this today, so great timing!

[2017-04-03 17:31] #115 closed

[2017-04-06 13:13] ocefpaf commented on #107
@lsetiawan do you have some time tomorrow for a quick call about the `Dockerfile`? I am at UTC-3 (https://www.timeanddate.com/worldclock/brazil/florianopolis).

I would like to ask you a few questions to avoid sending you in the wrong direction with my biased use or Docker.

[2017-04-06 16:14] lsetiawan commented on #107
@ocefpaf Yea definitely, I am available tomorrow anytime. Just let me know what time is best. Thanks.

[2017-04-07 13:51] ocefpaf commented on #107
Anytime from 12:00 to 18:00 UTC-3 is OK with me.

My username for skype/gtalk is ocefpaf. Just ping me once you are available.

Thanks,

-F

[2017-04-07 17:17] lsetiawan commented on #107
@ocefpaf I am on hangout now. Thanks

[2017-04-11 21:26] lsetiawan commented on #107
@miguelcleon I don't remember if I have to have ODM2 tables loaded first in the db or I can just build it from your sample db? Trying to test the Dockerfile, and it's failing on finding samplingfeatures when built from your example db.

Also, now the conda environment is missing `pytz` and `libgdal`, so I'll be adding those in the `requirements.txt`

[2017-04-11 21:31] lsetiawan opened #121 "Pre-release"
@miguelcleon Can we have some sort of pre-release for me to test against when working on the Dockerfile?

[2017-04-11 22:27] miguelcleon commented on #107
@lsetiawan  yes, I think that the example db will fail if postgis is not installed or the instance of postgis is not found, I think you might just have to execute this sql statement.
`CREATE EXTENSION postgis;`
I'm away at a meeting right now so sorry if I'm slow to respond.

[2017-04-11 22:30] miguelcleon commented on #107
It specifically fails on sampling features because of the featureGeometry or featureGeometryWKT field, I forget which one.

[2017-04-11 22:31] lsetiawan commented on #107
@miguelcleon sounds good. Thanks! I will try that. No worries. It built the db, but with samplingfeatures table missing probably because of the featureGeometry.

[2017-04-11 22:55] ocefpaf commented on #107
Not that you don't need libgdal if you are using conda-forge, you will need
only 'gdal'.

I know, confusing, but conda-forge does not break the package into python
wrapper and library.

On Apr 11, 2017 6:26 PM, "Landung Setiawan" <notifications@github.com>
wrote:

[2017-04-12 14:36] miguelcleon commented on #121
Ok, I added a pre-release.

[2017-04-12 15:30] lsetiawan commented on #121
Great! Thank you :)

On Apr 12, 2017 07:36, "Miguel Leon" <notifications@github.com> wrote:

[2017-04-19 20:45] miguelcleon opened #123 "issues using docker container"
@lsetiawan
I'm back and trying to run the docker container. It seems to work except the django tables are not in the odm2admindb.backup database. Either a migration needs to be ran on the backup database so that the django tables exist or the migrate command for manage.py needs to be ran I think in startup.sh

I was trying to do this on my own branch but docker can't seem to find my repo, maybe be

[2017-04-19 20:48] lsetiawan commented on #123
@miguelcleon Hang on tight on the Docker stuff right now. It used to work, but now it's broken, I am still trying to address the problem. Thanks.

[2017-04-20 15:16] miguelcleon commented on #123
Yes that fixed building the image for the local dockerfile. However when I try to run an instance of the image im getting `ImportError: No module named pytz` Maybe pytz just needs to be added to the requirements.txt file? I'm trying that now.

[2017-04-20 16:36] miguelcleon commented on #123
adding pytz (pytz=2017.2) to requirements.txt didn't work not sure why, when i manually create the conda environment like below it worked.

`conda create --yes -n odm2adminenv2 -c conda-forge python=2.7 --file /ODM2-Admin/requirements.txt`

[2017-04-24 14:29] miguelcleon commented on #123
@lsetiawan any chance you can take a look at this again soon? @emiliom ?

[2017-04-24 19:14] emiliom commented on #123
Miguel: Don and I chatted about this today. He's probably already in touch with you, but he's actively working on this now. I had diverted his work away from ODM2 Admin late last week (FYI, towards WOFpy), but that was at least partly based on a misunderstanding on my part of where things were.

[2017-04-24 19:20] lsetiawan commented on #123
@miguelcleon I've made a pull request, this would fix your errors, please merge. Thanks.

[2017-04-24 19:49] #121 closed

[2017-04-25 00:28] miguelcleon commented on #123
@lsetiawan Ok I published the new pre-release for docker hub https://github.com/miguelcleon/ODM2-Admin/releases/tag/v0.1001-alpha

[2017-04-26 15:37] miguelcleon commented on #123
@lsetiawan ok the latest release (v0.1003-alpha) now correctly uses a blank ODM2 database from docker, instead of the example DB which contains Luquillo data and shouldn't be used for this. One thing, you can't login without a superuser account setup and I'm not sure how to run `python manage.py createsuperuser ` within the docker container. Your supposed to run it interactively in order to set a

[2017-04-26 15:41] lsetiawan commented on #123
Ah, yes.

Once the application is in the background running, you can attach to the container by running:
`docker exec -it odm2admin /bin/bash`, That will bring up a shell where you can activate the conda environment and run `python manage.py migrate` and `python manage.py createsuperuser`. I'll need to document that.

[2017-04-26 15:44] lsetiawan commented on #123
The next round of improvements is to allow user to

1. use their own settings file
2. use uwsgi to run as production
3. separating the database from the application

[2017-04-26 15:52] miguelcleon commented on #123
Yes, that worked :+1:  I was able to run bash in docker, activate the conda environment and create a super user. Great, thanks!

[2017-04-26 16:07] miguelcleon commented on #123
@lsetiawan I went ahead and wrote it up. Maybe you could try this to make sure this works for you?
https://github.com/miguelcleon/ODM2-Admin/commit/6ccd89a4406a5fd5b0ffb9f3d0876f11a8b3d83e

If that works let's close this issue and create a new one with the next round of improvemnts you outlined.

[2017-04-26 16:58] miguelcleon commented on #123
@lsetiawan So your talking about generating a settings file from some sort of template?

[2017-04-26 17:03] lsetiawan commented on #123
@miguelcleon yepp. basically zip the `templatesAndSettings/settings`. I'll try out the new blank db in a bit.

[2017-04-26 17:05] miguelcleon commented on #123
ok, I made the readme change more verbose https://github.com/miguelcleon/ODM2-Admin/commit/c3c3b4ec97b7b09b25327f7459d66604d04e1378

[2017-04-26 17:48] miguelcleon opened #132 "docker file improvements"
@lsetiawan from issue #123
The next round of improvements are to allow user to

1. use their own settings file
2. use uwsgi to run as production
3. separating the database from the application

I was thinking to use the model like docker-erddap, where user attach volume within their host machine to specify where the settings files are, and we have some sort of template where we can let user to dow

[2017-04-26 17:48] #123 closed

[2017-04-26 18:27] lsetiawan commented on #132
@miguelcleon Alright, the `lsetiawan/odm2admin` docker image in docker hub has been updated.

[2017-04-26 20:39] miguelcleon commented on #132
@lsetiawan Yup, I tried it again from scratch, seems to work great!  @emiliom installation through docker is now working :+1:

[2017-04-27 04:01] emiliom commented on #132
:+1: Awesome!

[2017-06-14 13:24] miguelcleon opened #139 "Use an ajax select in inline forms to improve user experience"
Use an ajax select in inline forms to improve user experience

see odm2admin/forms.py
line 147 class FeatureActionsInline(admin.StackedInline): # AjaxSelectAdminStackedInline

[2017-06-17 18:52] miguelcleon opened #140 "map enhancments"
@lsetiawan @emiliom

I have two improvements to maps I'd like to make.
1) change the way time series are listed so that related time series results are viewed as a continuous time series instead of two separate listings. I think this should be based on two results having a related results record of type continues.
2) We already can filter the map by datasets. I'd like to add URL variables so links

[2017-06-26 15:38] lsetiawan commented on #140
@miguelcleon I think I should finish fixing things first for the map before further changes or the code will become confusing, since I made a lot of changes for CZIMEA stuff.

[2017-06-26 15:40] miguelcleon commented on #140
@lsetiawan Yes, agreed, I wanted to write these ideas down while we worked on completing the CZIMEA map changes.

[2017-06-27 17:58] miguelcleon opened #143 "children of field areas not appearing in map"
http://dev-odm2admin.cuahsi.org/LCZO/mapdata.html

I’m not certain why my field areas aren’t showing children. I thought maybe it was because their children didn’t have IGSNs, not all of the relationships between field areas and excavations are in the database (yet). So I used field area because they represent a catena over which 9 soil pits were dug.

COOX-3 should has one child with an IGSN at t

[2017-06-27 18:01] lsetiawan commented on #143
@miguelcleon I don't think I have added `Is part of` relationship yet. Only `Is children of` since that was the case for CZIMEA. Thanks.

[2017-06-27 18:02] lsetiawan commented on #143
See https://github.com/miguelcleon/ODM2-Admin/blob/master/odm2admin/views.py#L653

[2017-06-27 18:11] miguelcleon commented on #143
but I'm only using `is part of` I'm confused :confused:

[2017-06-27 18:20] miguelcleon commented on #143
I don't understand how the ecological land classifications are working they have `is part of `relationships. I changed COOX-3 to use `is child of` instead but it is still not showing children.

[2017-06-27 18:22] lsetiawan commented on #143
Hmm... okay. Must be doing some sort of weird behavior. I will look into this in a bit.

[2017-06-27 18:41] lsetiawan commented on #143
So, I think the things aren't showing up because they do not have igsn's. See https://github.com/miguelcleon/ODM2-Admin/blob/master/odm2admin/views.py#L683 I use `Samplingfeatureexternalidentifiers` to gather list of Children. Same with Siblings and Parents.

https://github.com/miguelcleon/ODM2-Admin/blob/master/odm2admin/views.py#L654 and https://github.com/miguelcleon/ODM2-Admin/blob/master/odm2

[2017-07-01 15:59] smrgeoinfo opened #144 "Connect ODM2 admin in Docker Container to postgres db on host"
I've got the Docker container with ODM2 Admin running, and have been able to restore a backup of my ODM2 database (EarthChem db, ETL to canonical ODM2).  I need to be able to connect the ODM2 Admin tools to a database on the host before I start actually working on data, so there needs to be a way to configure that somewhere and I can't see how to do it.

[2017-07-01 16:44] smrgeoinfo opened #145 "use UTF-8 character encoding"
When I connect to db using pgAdmin get message:
"The database odm2_db is created to store data using the SQL_ASCII encoding. This encoding is defined for 7 bit characters only; the meaning of characters with the 8th bit set (non-ASCII characters 127-255) is not defined. Consequently, it is not possible for the server to convert the data to other encodings. "

The Earthchem data definitely has some

[2017-07-01 16:47] smrgeoinfo opened #146 "Error opening form for method"
I've loaded a backup of my EarthChem ODM2 database into the Postgres running in the ODM2-Admin docker container. To do that I did a pg_dump (to a directory, with -E for SQL_ASCII encoding and -O), and put the dump in a directory attached to my docker container when I run it.  I'm not genereating all the ODM2 tables in my EC database, just the ones that are used or I think we'll need.

I dropped th

[2017-07-03 21:52] lsetiawan commented on #146
@smrgeoinfo From the error message, it seems like maybe one of the attribute within Method or Action is blank, giving a None and one of the code is trying to get the value of that attribute... From the error message maybe `actiondescription`.

[2017-07-10 13:31] miguelcleon commented on #146
Hi @smrgeoinfo this got buried in my inbox while I was traveling. Did @lsetiawan's suggestion help?

[2017-07-11 16:43] lsetiawan opened #147 "Docker Documentation"
@miguelcleon I think we need better documentation on how to use ODM2-Admin with Docker. I have created an ODM2 Organization in Docker Hub, now the repository is [`odm2/odm2admin`](https://hub.docker.com/r/odm2/odm2admin/).

- Installation
- Connect with Database
- Loading Data

[2017-07-11 16:46] lsetiawan commented on #107
I think this issue is solved by #120. Closing this issue...

[2017-07-11 16:46] lsetiawan commented on #107
Nvm, I can't close the issue @miguelcleon could you please close this unless you think it's not resolve. Thanks.

[2017-07-11 16:51] miguelcleon commented on #107
yes, I'll close, maybe I should do another release?

[2017-07-11 16:51] #107 closed

[2017-07-11 16:56] lsetiawan commented on #107
I think it seems appropriate with the latest changes with CZIMEA Stuff.

[2017-07-11 17:04] lsetiawan commented on #11
I think this issue can be closed now. We are going in the direction of using Docker atm to ship ODM2-Admin. @miguelcleon Regarding the CLI https://github.com/miguelcleon/ODM2-Admin/issues/11#issuecomment-275174602. Do you think we should still implement this or not? I've never implement it.

[2017-07-11 17:59] miguelcleon commented on #11
yeah I think we can close it.

[2017-07-11 17:59] #11 closed

[2017-07-11 18:17] miguelcleon commented on #145
Hmm.. I for sure have non-ASCII characters in my database, @lsetiawan you'll recall this from the WOFpy site error (https://github.com/ODM2/WOFpy/issues/148). Maybe this is caused by the SQL db setup script?

[2017-07-11 18:18] lsetiawan commented on #11
@miguelcleon How about

[2017-07-11 18:55] lsetiawan commented on #145
@miguelcleon Sure enough. Thanks @smrgeoinfo for catching. It seems that the postgresql is defaulting to `SQL_ASCII` need to change this during the setup.

[2017-07-11 20:24] miguelcleon commented on #11
yeah it seems like adding some CLI commands for setup / configuration could be useful. Did you have some specific things in mind? Ports and the ideas you had here https://github.com/miguelcleon/ODM2-Admin/issues/132 might be handled this way but maybe they would be a different docker container? I think  the existing docker container that just creates a test / local environment is important.

[2017-07-11 20:52] lsetiawan commented on #132
Going back to this improvement.

Here's what I have in mind.

Like `docker-erddap`, We host the core settings file somewhere users can download in a zip. They can then unzip the settings files, edit them however they like it to be. Take advantage of the `-v` to basically overwrite the settings in the Docker container, they can easily change the settings there.

*I think we should default the base

[2017-07-14 19:48] lsetiawan commented on #144
@smrgeoinfo What are your `Posgresql` and `PostGIS` versions?

[2017-07-26 18:47] miguelcleon opened #150 "Map loading slowly"
@lsetiawan the map view is now loading much more slowly then before. We should add a loading indicator so the user knows that the map is still loading the sampling features. Can something be done to make it load more quickly again?

[2017-07-26 18:54] lsetiawan commented on #150
Yea. For sure.

Not sure yet. There's just a lot of processing on the backend to prepare the json for the front end to use.

[2017-08-04 15:05] miguelcleon opened #153 "Add setting for sampling features to exclude from mapping"
There is concern about loading a map with thousands of sampling features. This maybe too slow. To alleviate that we should add a MAP_CONFIG setting in the settings files to specify sampling feature types to exclude from the map.

[2017-08-04 15:20] lsetiawan commented on #153
- I suggest trying this out for Map Clustering. https://github.com/SINTEF-9012/PruneCluster
- After looking into things more, it seems like the problem is the backend query rather than the front end rendering. The front end can be faster, but the backend takes about 5s to output the api result due to on the spot database querying. After consulting my industry friends, they suggest that we use [`Re

[2017-08-04 15:34] lsetiawan commented on #153
Yes. I was thinking of using React coupled with Redux. Since we really need a strong view component in the (MVC) to render our data. Plus it is an easier to learn framework compared to the others. What do you think?

[2017-08-04 15:36] lsetiawan commented on #153
[Resource for setting up REDIS](https://realpython.com/blog/python/caching-in-django-with-redis/)

[2017-08-04 15:44] lsetiawan opened #154 "Data caching is needed as the dataset gets larger."
Following up #153.

I'm opening up this issue to separate what needs to be done in data caching. @miguelcleon and I have discussed of using [Redis](https://redis.io/).

Here's a [resource](https://realpython.com/blog/python/caching-in-django-with-redis/). to help with setting it up.

[2017-08-04 16:59] emiliom commented on #153
Just linking here to #150

To clarify, part of the issue is that maybe some sampling features should be *excluded* from the map (as @miguelcleon described when he opened the issue). It's not just about performance. There's map clutter as well, with potentially many specimen sampling features sharing the same lat-lon. But some specimens just don't make obvious sense to display on a map.

On the ema

[2017-08-04 17:04] lsetiawan commented on #153
@emiliom Not quite. Everything is queried then filtered (https://github.com/miguelcleon/ODM2-Admin/blob/master/odm2admin/views.py#L640). I guess now that I think about this. We should just query for sampling features that have `featuregeometry` instead.

[2017-08-04 17:08] emiliom commented on #153
Or more specifically, FeatureGeometry is not null and SamplingFeatureGeoTypeCV == 'Point'. `SamplingFeatures` can store other geometries besides points (eg, polygons). In fact, I think I'll use that for CZIMEA at some point, to load CZO boundaries that define each CZO as a sampling feature.

[2017-09-06 18:13] miguelcleon opened #160 "change styling to use Django Jet"
@lsetiawan I'm thinking about using Django Jet for styles and dashboards. This would involve removing djangocms_admin_style. I started playing around with it and it seems really nice. What do you think?

https://github.com/geex-arts/django-jet

[2017-09-06 19:23] lsetiawan commented on #160
@miguelcleon Pretty. I like it! Is it a lot of overhaul?

[2017-09-06 20:23] miguelcleon commented on #160
It doesn't seem to be too bad. I have to rip some stuff out of the templates but there aren't that many and it's fairly straightforward

![image](https://user-images.githubusercontent.com/5941108/30132740-744ec018-931f-11e7-8d75-aef6842d9531.png)

One thing I'm not sure what to change is the map is appearing on top of the side bar (Image below). But maybe you can look at it once I push to a branch

[2017-09-08 17:44] miguelcleon commented on #160
I ran into a bug and ended up on this issue https://github.com/geex-arts/django-jet/issues/161 reading this it doesn't  sound good. Maybe this isn't the best idea after all.

[2017-10-03 16:54] #160 closed

[2017-10-03 16:55] miguelcleon opened #163 "add sphinx documentation?"
@lsetiawan Maybe we can add the Sphinx documentation to ODM2 Admin?

[2017-10-03 17:47] lsetiawan commented on #163
We should pull in @ocefpaf for this one, since the setup I am still unfamiliar with.

[2017-10-03 17:49] ocefpaf commented on #163
I'll send a PR soon. Note that for the auto-publish stuff I'll need someone with more rights to the repo to add the SSH key.

[2017-10-03 17:51] lsetiawan commented on #163
@miguelcleon how about we migrate this repo to ODM2 before doing all this? or would it not be a big overhaul later on for the docs stuff once it's set up?

[2017-10-03 17:56] ocefpaf commented on #163
The URLs listed in the docs and the `gh-pages` generate would change with the move, but that is not a big deal and easy to change.

[2017-10-03 17:56] miguelcleon commented on #163
@lsetiawan Ok, how do we do that? I'm working on an update right now and I'm hoping to do a PR in the next few hours.

[2017-10-03 18:06] lsetiawan commented on #163
I think you simply transfer ownership, which is available in settings.

[2017-10-03 20:39] miguelcleon commented on #163
Ok I did that.

[2017-10-04 15:23] lsetiawan commented on #163
@ocefpaf Now that ODM2-Admin has been moved how do we fix the travis-ci? thanks.

[2017-10-04 16:13] ocefpaf commented on #163
Working on it...

[2017-11-10 02:07] miguelcleon opened #174 "Travis failing due to links"
@ocefpaf  @lsetiawan @emiliom

I've been adding sphinx documentation for the meeting next week, Travis is failing though because of links that require you to be logged in to a sandbox copy of ODM2 Admin like this link below

https://dev-odm2admin.cuahsi.org/Sandbox/odm2admin/results/

Here is a travis job that failed.

https://travis-ci.org/ODM2/ODM2-Admin/jobs/299922357

The error:

`HTTPSConnect

[2017-11-10 02:41] miguelcleon commented on #174
Here is a new one that failed
https://github.com/ODM2/ODM2-Admin/pull/175

[2017-11-10 03:52] emiliom commented on #174
@ocefpaf please help @miguelcleon with this on Friday. @lsetiawan will be busy with other things. Thanks.

[2017-11-10 11:01] ocefpaf commented on #174
We can disable the links checks for now. I like to have that "on" to ensure all the links in the docs are live, but those require authentication and, according to a quick test, are getting redirected.

So, until we figure a way to skip and/or fix them (in case the redirects are the desirable destination), I believe that turning links checks off is the quick way forward.

[2017-11-10 14:52] miguelcleon commented on #174
Ok, that worked, thank you.

[2017-11-10 14:52] #174 closed

[2017-11-16 19:37] arogyaswamy opened #187 "Links from "Graph My Data" Landing Page"
After going to the page for Graph My Data, the links for Time Series and for Soils Data both lead to the Time Series page. The links point to chart.html and chartVariableAndFeature.html, respectively.

https://dev-odm2admin.cuahsi.org/Sandbox/chartIndex

[2017-11-17 00:19] SRGDamia1 opened #188 "Expand QC tools to include full functionality of ODM2ToolsPython"
Or at least add functionality for implementing and tracking the implementation of offsets and drift corrections.

[2017-11-17 00:53] #163 closed

[2018-01-16 19:40] lsetiawan opened #192 "Use ODM2REST for mapping interface?"
I think once ODM2REST is released, ODM2-Admin should use ODM2REST for it's mapping interface backend? This will allow practical, production testing for ODM2REST and enhance the mapping capability. What do you think @miguelcleon?

[2018-01-16 19:53] miguelcleon commented on #192
hmm, perhaps. One issue I see right away is I've been working on a feature to export data from postgresql to sqlite and uploading the result to hydroshare. I got that working on my development server last week. I'm using Django loaddata and dumpdata [utilities](https://docs.djangoproject.com/en/2.0/ref/django-admin/#dumpdata) which seem like they would be a pain to reproduce. Would the ODM2REST AP

[2018-01-16 21:29] lsetiawan commented on #192
Currently there is no export feature, but /results endpoint does get all results and all related entities. I don't think it would be to difficult to use pandas to save into a sqlite from that result or other databases. That is an interesting feature to explore!

[2018-02-01 15:28] miguelcleon commented on #150
We added a loading javascript indicator and implemented redis.

[2018-02-01 15:28] #150 closed

[2018-02-01 15:30] miguelcleon opened #199 "Docker"
I've udpated the docker container on dockerhub, but I can't connect to the database to start ODM2 Admin. @lsetiawan maybe you could take a look?
https://hub.docker.com/r/odm2/odm2-admin/

[2018-02-01 15:34] miguelcleon commented on #199
I'm getting this error:
[code]

[2020-05-27 18:07] speleophysics opened #230 "non-existent package in requirements.txt?"
django_admin_listfilter_dropdown was recently added to requirements.txt. So far as I can find, this is not an existent conda package, nor is there anything with a similar name. I did find what appears to be the correct package available via pip with a slightlly different name: django-admin-list-filter-dropdown.

As a result of this missing requirement, docker-compose fails.